.header {
	margin-top: 10px;
	padding-left: 50px;
	padding-bottom: 2px;
	font-size: 2em;
}
.thead-inverse {
	background-color: #f2dede;
}
.table_container {
	max-width: 95%;
	padding-left: 50px;
}
.top_column {
background-color: #f7f4ed;	
}

.top_column th {
	color: #a41d21;
}

tbody{
background-color: #ffffff;	
}

tr.hover_effect:hover{
	background-color: #f2dede;
}

.pagination li:hover {
		background-color: #f2dede;
} 

.input-group {
	max-width: 100%;
	width: 400px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.edit_icon {
	margin-right: 20px;
	height: 50px;
}
.edit_icon glyphicon-pencil::hover {
	background-color:#dadada ;
}

/*SEARCH BAR*/
.search_prop {

}
.search_container {
	margin-left: 50px;
}
#imaginary_container{
    margin-top:10px; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}