{% extends 'base.html' %}

{% block title %}Raw Sample{% endblock %}

{% block content %}
    
    <div class="col-md-12">
        <div class="col-md-2">
            <p>OVC Received Icon</p>
            {% if doc.status == "1" %}<p>Naa na diri</p>{% endif %}            
        </div>
        <div class="col-md-2">
            <p>VC Received Icon</p>
            {% if doc.status == "2" %}<p>Naa na diri</p>{% endif %} 
        </div>
        <div class="col-md-2">
            <p>VC Acted Icon</p>
            {% if doc.status == "3" %}<p>Naa na diri</p>{% endif %} 
        </div>
        <div class="col-md-2">
            <p>OC Received Icon</p>
            {% if doc.status == "4" %}<p>Naa na diri</p>{% endif %} 
        </div>
        <div class="col-md-2">
            <p>OC Acted Icon</p>
            {% if doc.status == "5" %}<p>Naa na diri</p>{% endif %} 
        </div>
        <div class="col-md-2">
            <p>Completed</p>
            {% if doc.status == "6" %}<p>Naa na diri</p>{% endif %} 
        </div>
    </div>
    
{% endblock %}