{% extends 'base.html' %}

{% block title %}Raw Sample{% endblock %}

{% block content %} 

  
  <div class="content-wrapper" style="background-image: url(/my/v2/assets/img/bg/afternoon/726.jpg);">
      <section class="content-header">
        <h1>Good afternoon, Clyde Herald! </h1><div class="row">
          <div class="container">
            <div class="col-lg.12">
              <div class="input-group">
                <input type="text" class="form-control" aria-label="...">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Status <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Inprogress</a></li>
                    <li><a href="#">Sustained</a></li>
                    <li><a href="#">Retained</a></li>
                  </ul>
                </div><!-- /btn-group -->
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->


  <div class="content">
    <div class="box">
        <div class="box-body">
                            <table class="table table-inverse">
                                <thead class="thead-inverse">
                                    <tr class="top_column">
                                      <th>#</th>
                                      <th>Tracking ID</th>
                                      <th>Requestor</th>
                                      <th>Request Type</th>
                                      <th>Date Submit</th>
                                      <th>Status</th>
                                      <th>Person Incharge</th>
                                      <th>Date Approved</th>
                                      <!--<th>Time Lapse</th>-->
                                      <th>OC Approval</th>
                                      <th></th>
                                    </tr>
                                </thead>

                                  <tbody>
                                    {% for doc in docs_oc_received %}
                                      <tr class="hover_effect">
                                          <td>{{ doc.id }}</td> 
                                          <td>{{ doc.tracking_id }}</td>                                                                          
                                          <td>{{ doc.requestor.get_full_name }}</td>
                                          <td>{{ doc.get_doc_type_display }}</td>
                                          <td>{{ doc.date_req_started|date:"m/d/Y" }}</td>
                                          <td>{{ doc.get_status_display }}</td>
                                          <td>{{ doc.person_incharge }}</td>
                                          <td>{{ doc.date_req_finished|date:"d/m/Y" }} {{doc.date_req_finished|time:"H:i"}}</td>
                                          <td>{{ doc.get_oc_approval_display }}</td>                                
                                          <td>
                                            <span style="padding-left:25px;" class="glyphicon glyphicon-pencil"></span>
                                            <span style="padding-left:25px;" class="glyphicon glyphicon-trash"></span>
                                            <span style="padding-left:25px;" class="glyphicon glyphicon-open-file"></span>
                                          </td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                        </table>

                       <nav>
                              <ul class="pager">
                                <li><a href="#">Previous</a></li>
                                <li><a href="#">Next</a></li>
                              </ul>
                       </nav>
      </div>                
  </div>                       
</div>
</section>
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>

{% endblock %}