{% extends 'base.html' %}

{% block content %} 

            <section class="content-header">
                <h1>FORWARDED DOCUMENTS TO OFFICES</h1>
                <div class="search_container">
                    <div id="imaginary_container"> 
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Search" >
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>  
                            </span>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="box">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped table-evaluation">
                                <thead class="thead-inverse">
                                    <tr class="top_column">
                                        <th>#</th>
                                        <th>Tracking ID</th>
                                        <th>Requestor</th>
                                        <th>Request Type</th>
                                        <th>Date Submit</th>
                                        <th>Status</th>
                                        <th>Person Incharge</th>
                                        <th>Date Approved</th>
                                        <!--<th>Time Lapse</th>-->
                                        <th>OC Approval</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                  
                                <tbody>
                                    {% for doc in docs_oc_received %}
                                        <tr class="hover_effect">
                                            <td>{{ doc.id }}</td> 
                                            <td>{{ doc.tracking_id }}</td>
                                            <td>{{ doc.requestor.get_full_name }}</td>
                                            <td>{{ doc.get_doc_type_display }}</td>
                                            <td>{{ doc.date_req_started|date:"m/d/Y" }}</td>
                                            <td>{{ doc.get_status_display }}</td>
                                            <td>{{ doc.person_incharge }}</td>
                                            <td>{{ doc.date_req_finished|date:"d/m/Y" }} {{doc.date_req_finished|time:"H:i"}}</td>
                                            <td>{{ doc.get_oc_approval_display }}</td>                                
                                            <td>
                                                <span style="padding-left:25px;" class="glyphicon glyphicon-pencil"></span>
                                                <span style="padding-left:25px;" class="glyphicon glyphicon-trash"></span>
                                                <span style="padding-left:25px;" class="glyphicon glyphicon-open-file"></span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <nav>
                            <ul class="pager">
                                <li><a href="#">Previous</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>                       
                </div>
            </section>
                
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="/static/js/bootstrap.min.js"></script>

{% endblock %}