{% extends 'base.html' %}

{% block title %}Raw Sample{% endblock %}

{% block content %} 

  
  <div class="content-wrapper" style="background-image: url(/my/v2/assets/img/bg/afternoon/726.jpg);">
      <section class="content-header">
        <h1>Good afternoon, Clyde Herald! </h1><div class="row">
          <div class="container">
            <div class="col-lg.12">
              <div class="input-group">
                <input type="text" class="form-control" aria-label="...">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Status <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Inprogress</a></li>
                    <li><a href="#">Sustained</a></li>
                    <li><a href="#">Retained</a></li>
                  </ul>
                </div><!-- /btn-group -->
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->


  <div class="content">
    <div class="box">
        <div class="box-body">
                            <table class="table table-inverse">
                                <thead class="thead-inverse">
                                    <tr class="top_column">
                                      <th>#</th>
                                      <th>Tracking ID</th>
                                      <th>Request Type</th>
                                      <th>Date Submit</th>
                                      <th>Status</th>
                                      <th>Person Incharge</th>
                                      <th>Date Approved</th>
                                      <th>Time Lapse</th>
                                      <th>Remarks</th>
                                      <th></th>
                                    </tr>
                                </thead>

                                  <tbody>
                                    <tr class="hover_effect">
                                      <th scope="row">1</th>
                                      <td>00000001</td>
                                      <td>Travel Order</td>
                                      <td>August 8 2016</td>
                                       <td>Processing</td>
                                      <td>Jim Maykel</td>
                                      <td></td>
                                      <td>1 day</td>
                                      <td>None</td>
                                         <td>
                                        <span style="padding-left:25px;" class="glyphicon glyphicon-pencil"></span>
                                        <span style="padding-left:25px;" class="glyphicon glyphicon-trash"></span>
                                        <span style="padding-left:25px;" class="glyphicon glyphicon-open-file"></span>
                                      </td>
                                    </tr>

                                     <tr>
                                      <th scope="row">2</th>
                                      <td>00000222</td>
                                      <td>Travel Order</td>
                                      <td>August 7 2016</td>
                                       <td>Processing</td>
                                      <td>Corina Ignacio</td>
                                      <td></td>
                                      <td>2 days</td>
                                      <td>None</td>
                                       <td>
                                        <span style="padding-left:25px;" class="glyphicon glyphicon-pencil"></span>
                                        <span style="padding-left:25px;" class="glyphicon glyphicon-trash"></span>
                                        <span style="padding-left:25px;" class="glyphicon glyphicon-open-file"></span>
                                      </td>
                                    </tr>

                                     <tr>
                                      <th scope="row">3</th>
                                      <td>00550022</td>
                                      <td>Travel Order</td>
                                      <td>July 9 2016</td>
                                       <td>Sustained</td>
                                      <td>Alaicah Ambor</td>
                                      <td>July 10 2016</td>
                                      <td>1 day</td>
                                      <td>None</td>
                                         <td>
                                        <span style="padding-left:25px;" class="glyphicon glyphicon-pencil"></span>
                                        <span style="padding-left:25px;" class="glyphicon glyphicon-trash"></span>
                                        <span style="padding-left:25px;" class="glyphicon glyphicon-open-file"></span>
                                      </td>
                                    </tr>
                                  </tbody>
                        </table>

                       <nav>
                              <ul class="pager">
                                <li><a href="#">Previous</a></li>
                                <li><a href="#">Next</a></li>
                              </ul>
                       </nav>
      </div>                
  </div>                       
</div>
</section>
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

{% endblock %}