{% extends 'base.html' %}

{% block content %} 

            <section class="content-header">
                <h1>FORWARDED DOCUMENTS TO VICE CHANCELLOR</h1>
                <div class="search_container">
                    <div id="imaginary_container"> 
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Search" >
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>  
                            </span>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="box">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped table-evaluation">
                                <thead class="thead-inverse">
                                    <tr class="top_column">
                                        <th>#</th>
                                        <th>Tracking ID</th>
                                        <th>Request Type</th>
                                        <th>Requestor</th>
                                        <th>Department</th>
                                        <th>Incharge ID</th>
                                        <th>Date Received</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="table_body">
                                    <tr class="hover_effect">
                                        <th scope="row">1</th>
                                        <td>22000001</td>
                                        <td>Travel Order</td>
                                        <td>Dante Villaruel Jr</td>
                                        <td>OVCAA</td>
                                        <td>2001-1212</td>
                                        <td>August 8 2016</td>
                                        <td>
                                            <div class="button_prop">
                                                <a class="edit_icon" href="#">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a class="ok_icon" href="#">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="hover_effect">
                                        <th scope="row">2</th>
                                        <td>500420001</td>
                                        <td>Travel Order</td>
                                        <td>Juan Dela Cruz</td>
                                        <td>OVCAA</td>
                                        <td>2005-1125</td>
                                        <td>August 15 2016</td>
                                        <td>
                                            <div class="button_prop">
                                                <a class="edit_icon" href="#">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a class="ok_icon" href="#">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="hover_effect">
                                        <th scope="row">3</th>
                                        <td>33002001</td>
                                        <td>Travel Order</td>
                                        <td>Gene Manlimos</td>
                                        <td>OVCRE</td>
                                        <td>2001-1155</td>
                                        <td>August 20 2016</td>
                                        <td>
                                            <div class="button_prop">
                                                <a class="edit_icon" href="#">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a class="ok_icon" href="#">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="hover_effect">
                                        <th scope="row">4</th>
                                        <td>06000001</td>
                                        <td>Travel Order</td>
                                        <td>Iron Man</td>
                                        <td>OVCAA</td>
                                        <td>2006-2200</td>
                                        <td>September 1 2016</td>
                                        <td>
                                            <div class="button_prop">
                                                <a class="edit_icon" href="#">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a class="ok_icon" href="#">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="hover_effect">
                                        <th scope="row">5</th>
                                        <td>77003501</td>
                                        <td>Travel Order</td>
                                        <td>Captian Barbell</td>
                                        <td>OVCAA</td>
                                        <td>2006-6555</td>
                                        <td>September 5 2016</td>
                                        <td>
                                            <div class="button_prop">
                                                <a class="edit_icon" href="#">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a class="ok_icon" href="#">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="hover_effect">
                                        <th scope="row">6</th>
                                        <td>00790001</td>
                                        <td>Travel Order</td>
                                        <td>The Flash</td>
                                        <td>OVCAA</td>
                                        <td>2006-6633</td>
                                        <td>September 6 2016</td>     
                                        <td>
                                            <div class="button_prop">
                                                <a class="edit_icon" href="#">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a class="ok_icon" href="#">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="hover_effect">
                                        <th scope="row">7</th>
                                        <td>00045001</td>
                                        <td>Travel Order</td>
                                        <td>Hawk Eye</td> 
                                        <td>OVCAA</td>
                                        <td>2001-9911</td>
                                        <td>September 15 2016</td>
                                        <td>
                                            <div class="button_prop">
                                                <a class="edit_icon" href="#">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a class="ok_icon" href="#">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="hover_effect">
                                        <th scope="row">8</th>
                                        <td>00250001</td>
                                        <td>Travel Order</td>
                                        <td>Dante Villaruel Jr</td>
                                        <td>OVCAA</td>
                                        <td>2010-0001</td>
                                        <td>September 16 2016</td>
                                        <td>
                                            <div class="button_prop">
                                                <a class="edit_icon" href="#">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a class="ok_icon" href="#">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="hover_effect">
                                        <th scope="row">9</th>
                                        <td>00078001</td>
                                        <td>Travel Order</td>
                                        <td>Gene Manlimos</td> 
                                        <td>OVCAA</td>
                                        <td>1998-5252</td>
                                        <td>October 1 2016</td>
                                        <td>
                                            <div class="button_prop">
                                                <a class="edit_icon" href="#">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a class="ok_icon" href="#">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="hover_effect">
                                        <th scope="row">10</th>
                                        <td>00680001</td>
                                        <td>Travel Order</td>
                                        <td>Juan Dela Cruz</td>
                                        <td>OVCAA</td>
                                        <td>2001-9999</td>
                                        <td>October 2 2016</td>
                                        <td>
                                            <div class="button_prop">
                                                <a class="edit_icon" href="#">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a class="ok_icon" href="#">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="hover_effect">
                                        <th scope="row">11</th>
                                        <td>05600001</td>
                                        <td>Travel Order</td>
                                        <td>Captian Barbell</td>
                                        <td>OVCAA</td>
                                        <td>2001-9999</td>
                                        <td>October 5 2016</td>
                                        <td>
                                            <div class="button_prop">
                                                <a class="edit_icon" href="#">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a class="ok_icon" href="#">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="hover_effect">
                                        <th scope="row">12</th>
                                        <td>00690001</td>
                                        <td>Travel Order</td>
                                        <td>Captain America</td>
                                        <td>OVCAA</td>
                                        <td>2001-5652</td>
                                        <td>October 10 2016</td>
                                        <td>
                                            <div class="button_prop">
                                                <a class="edit_icon" href="#">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a class="ok_icon" href="#">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                
                        <nav>
                            <ul class="pager">
                                <li><a href="#">Previous</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>                       
                </div>
            </div>
        </section>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/js/bootstrap.min.js"></script>

{% endblock %}