{% extends 'base.html' %}

{% block title %}Raw Sample{% endblock %}

{% block content %}		
		
		<div class="content-wrapper" style="background-image: url(/my/v2/assets/img/bg/afternoon/726.jpg);">
			<section class="content-header">
				<h1>Good afternoon, Clyde Herald! </h1>
				<div class="row">
					<div class="container">
						<div class="col-lg.12">
							<div class="input-group">
								<input type="text" class="form-control" aria-label="...">
								<div class="input-group-btn">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Status <span class="caret"></span></button>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="#">Inprogress</a></li>
										<li><a href="#">Sustained</a></li>
										<li><a href="#">Retained</a></li>
									</ul>
								</div><!-- /btn-group -->
							</div><!-- /input-group -->
						</div><!-- /.col-lg-6 -->
					</div><!-- /.row -->
				</div>
			</section>
		
			<section class="content">
				<div class="box">
					<div class="box-body">
						<div class="table-inverse">
							<table class="table table-bordered table-hover table-striped table-evaluation">
								<tbody><tr class="active">
									<th width="3%">Tracking No</th>
									<th width="3%">Requestor</th>
									<th width="3%">Request Type</th>
									<th width="3%">Date Submitted</th>
									<th width="3%">Time Lapse</th>
									<th width="3%">Status</th>
									<th width="3%">Action</th>
								</tr>
								<tr>
									<td>000001 </td>
									<td>Lemuel Clark Velasco :P </td>
									<td>Travel Order </td>
									<td>01/25/2016 </td>
									<td>7-10 days </td>
									<td>Completed</td>
									<td><span class="btn btn-default">Recommend </span></td>
								</tr>
								<tr>
									<td>000002 </td>
									<td>Lemuel Clark Velasco </td>
									<td>Purchase Order</td>
									<td>02/15/2016 </td>
									<td>15 days</td>
									<td>Pending</td>
									<td><span class="btn btn-default">Recommend </span></td>
								</tr>
								<tr>
									<td>000003 </td>
									<td>Adrian Galido </td>
									<td>Travel Order</td>
									<td>03/15/2016 </td>
									<td>7-10 days</td>
									<td>Completed</td>
									<td><span class="btn btn-default">Recommend </span></td>
								</tr>
								<tr>
									<td>000004 </td>
									<td>Lemuel Clark Velasco </td>
									<td>Purchase Order</td>
									<td>04/20/2016 </td>
									<td>15 days</td>
									<td>Pending</td>
									<td><span class="btn btn-default">Recommend </span></td>
								</tr>
								<tr>
									<td>000005 </td>
									<td>Lemuel Clark Velasco </td>
									<td>Travel Order</td>
									<td>05/20/2016 </td>
									<td>7-10 days</td>
									<td>Completed</td>
									<td><span class="btn btn-default">Recommend </span></td>
								</tr>
								<tr>
									<td>000006 </td>
									<td>Lemuel Clark Velasco </td>
									<td>Travel Order</td>
									<td>06/11/2016 </td>
									<td>7-10 days</td>
									<td>Completed</td>
									<td><span class="btn btn-default">Recommend </span></td>
								</tr>
								<tr>
									<td>000007 </td>
									<td>Lemuel Clark Velasco </td>
									<td>Travel Order</td>
									<td>07/01/2016 </td>
									<td>7-10 days</td>
									<td>Pending</td>
									<td><span class="btn btn-default">Recommend </span></td>
								</tr>
								<tr>
									<td>000008 </td>
									<td>Lemuel Clark Velasco </td>
									<td>Purchase Order</td>
									<td>07/02/2016 </td>
									<td>15 days</td>
									<td>Pending</td>
									<td><span class="btn btn-default">Recommend </span></td>
								</tr></tbody>
							</table>
						</div> 
					</div> 
				</div>
			</section>
		</div>
		
{% endblock  %}