{% extends 'base.html' %}

{% block title %}Raw Sample{% endblock %}

{% block content %}		
		
	<section class="content-header">
		<h1>Edit Request Form </h1>
	</section>
		
	<section class="content">
		<div class="box">
			<div class="box-body">
				<div class="table-responsive">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Requestor</label>
							<input type="text" class="form-control">
							<label>College</label>
							<input type="text" class="form-control">
							<label>Type of Document</label>
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Tracking ID</label>
							<input type="text" class="form-control">
							<label>Date</label>
							<input type="text" class="form-control">
							<label></label>
						</div>
					</div>
					
				</div>
				<div class="panel panel-default">
					<div class="panel-heading"><b>Remarks from OVCRE</b></div>
					<div class="panel-body" style="text-align:center; vertical-align:middle">
						<div class="checkbox-inline"><label><input type="checkbox">Attach Biodata</label></div>
						<div class="checkbox-inline"><label><input type="checkbox">Attach Request Letter</label></div>
						<br>
						<div class="checkbox-inline"><label><input type="checkbox">Revise Paper</label></div>
						<div class="checkbox-inline"><label><input type="checkbox">Revise Letter</label></div>
						<br>
						<div class="checkbox-inline"><label><input type="checkbox">Change Font Type</label></div>
						<div class="checkbox-inline"><label><input type="checkbox">Change Title</label></div>
						<br>
						<div class="checkbox-inline"><label><input type="checkbox">Overall Revision</label></div>
						<div class="checkbox-inline"><label><input type="checkbox">Others</label><input type="text"></div>
					</div>
					<div class="panel-footer clearfix">
						<div class="pull-right">
							<a href="#" class="btn btn-primary">Forward to VC</a>
						</div>
					</div>
				</div> 
			</div> 
		</div>
	</section>
		
{% endblock  %}