<aside class="main-sidebar hidden-print">
	<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100vh;">
		<section class="sidebar" id="sidebar" style="overflow: hidden; width: auto; height: 100vh;">
			<div class="user-panel">
				<div class="image">
					<form name="upload-photo" method="post">
						<a href="http://x4150my.msuiit.edu.ph/my/v2/cropper.php" class="btn-upload" id="btn-upload-photo">
							<img src="./images/xno-photo.png.pagespeed.ic.LYujHrfwVW.webp" class="profile-photo " alt="User Image" data-pagespeed-url-hash="3306182933" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							<div class="profile-pic-selector" id="profile-pic-selector">
								<i class="fa fa-camera"></i>
								<span class="pps-text">Update Photo</span>
							</div>
						</a>
						<input class="file-upload" type="file" accept="image/jpeg, image/png">
					</form>
				</div>
				<div class="info ellipsis">Dante Villaruel </div>
			</div>
		</section>
		<div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 514.286px; background: rgb(119, 119, 119);"></div>
		<div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
	</div>
</aside>